.container {
    width: 70%;
    margin: auto;
    padding: 1rem;
    border-radius: .6rem;
}

.fullWidth {
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

img {
    height: 12rem;
    margin: auto;
}

.section {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: .5rem;
}

p {
    text-align: center;
    margin-top: 4rem;
    opacity: .5;
}

mat-icon {
    opacity: .8;
}
